@media only screen and (max-width:992px) {
    .navbar-toggle {

        display: block;
        float: left;
        margin-left: 12px;
        padding: 15px;

    }
    a.navbar-brand {
        float: right;
    }
}

body {
    margin: 0px;
    padding:0px;
}
.navbar-brand
{
    font-size: 20px;
}
 
#log_in
{
    height: auto;
    margin-top:20px;
    padding:0px 40px;
    font-size:16px;
    height:30px;
    background-color:#06d6a0;
    line-height: 1.25;
    vertical-align: middle;
    font-weight: 500;
}
* {
    box-sizing: border-box;
}
.main-container
{   
     margin:100px 0px;
}
text-center
{
    text-align:center;
}
.hero
{
    margin:80px 0px;
}
.hero-container
{
    margin:80px 0px;
}
.hero a
{
    font-size:20px;
    background-color:#ffc107;
    padding:12px;
    color:black;
}
.hero a:hover
{
    background-color:#e0a800;
    color:black;
    border-color: #d39e00;
}